<mat-dialog-content>
  <form [formGroup]="form" class="grid">

    <div class="section-card">
      <div class="inner-grid">

        <mat-form-field style="margin-bottom: 15px" appearance="outline">
          <mat-label>Table layout name</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="form.controls.name.hasError('required')">Table layout name is required.</mat-error>
          <mat-error *ngIf="form.controls.name.value && form.controls.name.hasError('nameExists')">Table layout with that name already exists.</mat-error>
        </mat-form-field>


        <div class="color-picker-div">
          <p style="width: 135px;"><b>Background color :</b></p>
          <input
            [(colorPicker)]="selectedColor"
            [style.background]="selectedColor"
            class="colorPickerClass"
            [cpDisableInput]="true"
            readonly
          />
        </div>
        <!-- Image preview / clickable uploader -->

        <!-- Image preview / clickable uploader -->
        <div class="image-wrapper">

          <!-- Uploaded image -->
          <img
            *ngIf="imageUrl"
            [src]="imageUrl"
            alt="Upload preview"
            class="image-uploader"
            (click)="fileInput.click()"
          />

          <!-- Placeholder -->
          <div
            *ngIf="!imageUrl"
            class="image-uploader upload-placeholder"
            (click)="fileInput.click()">

            <mat-icon style="font-size: 42px; width: 42px; height: 42px;">
              cloud_upload
            </mat-icon>

            <span>Upload background</span>

          </div>

        </div>

        <!-- Hidden input -->
        <input
          type="file"
          #fileInput
          hidden
          accept="image/*"
          (change)="selectedFile = $any($event.target).files[0]"
        />

        <!-- Upload logic + fullscreen progress -->
        <app-file-upload
          [file]="selectedFile"
          (uploaded)="imageUrl = $event">
        </app-file-upload>


        <div style="margin-top: 20px; text-align: center;">
          <button
            mat-stroked-button
            color="warn"
            [disabled]="!imageUrl"
            (click)="removeBackgroundImage()"
          >
            Remove background
          </button>
        </div>



      </div>
    </div>

  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid || loading">
    Save
  </button>
</mat-dialog-actions>
