<header class="topbar">
  <div id="biteflow-tag" routerLink="/public">Biteflow</div>

  <div class="center">
    @if (authService.isLoggedIn()) {

      <div class="ComponentButtons">
        <button mat-raised-button color="primary" routerLink="/admin">Admin</button>
        <button mat-raised-button color="primary" routerLink="/public">Waiter</button>
        <button mat-raised-button color="primary" routerLink="/public">Kitchen</button>
      </div>
    } @else {
      <div>
        <button mat-raised-button color="primary" routerLink="/public/activation/wizard">Register Restaurant</button>
      </div>
    }
  </div>

  <div class="right">
    @if (authService.isLoggedIn()) {
      <span>{{ authService.getDisplayName() }}</span>
      <button mat-stroked-button color="warn" routerLink="/auth/logout">Logout</button>
    } @else if (!isOnLoginPage()) {
      <button mat-raised-button color="primary" routerLink="/auth/login">Login</button>
    }
  </div>
</header>
