<div
  class="dashboard"
  [class.edit-mode]="isEditMode"
>

  <!-- CONTROLS -->
  <div class="controls">

    <div class="controls-date-today">
      <div class="field">
        <label>From</label>

        <input
          type="date"
          [(ngModel)]="fromDate"
          [disabled]="isTodayMode"
        />
      </div>

      <div class="field">
        <label>To</label>

        <input
          type="date"
          [(ngModel)]="toDate"
          [disabled]="isTodayMode"
        />
      </div>

      <button
        (click)="applyFilter()"
        [disabled]="isTodayMode"
      >
        Apply
      </button>

      <button (click)="toggleTodayMode()">
        {{ isTodayMode ? 'Disable Today' : 'Today' }}
      </button>
    </div>

    <mat-icon
      class="edit-button"
      (click)="toggleEditMode()"
    >
      {{ isEditMode ? 'save' : 'edit' }}
    </mat-icon>

  </div>

  <!-- KPI -->
  <app-kpi
    [range]="range"
    [refreshTick]="refreshTick"
    [isEditMode]="isEditMode"
    [kpiCards]="kpiCards"
    (kpiCardsChange)="kpiCards = $event"
  ></app-kpi>

  <!-- MAIN DASHBOARD -->
  <div
    cdkDropList
    class="widgets-column"
    [cdkDropListData]="widgets"
    (cdkDropListDropped)="dropWidgets($event)"
  >

    <div
      class="widget-wrapper"
      *ngFor="let widget of widgets"
      cdkDrag
      [cdkDragDisabled]="!isEditMode"
    >

      <ng-container [ngSwitch]="widget">

        <!-- LIVE ORDERS -->
        <app-live-orders
          *ngSwitchCase="'liveOrders'"
        ></app-live-orders>

        <!-- CHARTS SECTION -->
        <div
          *ngSwitchCase="'charts'"
          cdkDropList
          class="charts-grid"
          [cdkDropListData]="charts"
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="dropCharts($event)"
        >

          <div
            class="chart-wrapper"
            *ngFor="let chart of charts"
            cdkDrag
            [cdkDragDisabled]="!isEditMode"
          >

            <ng-container [ngSwitch]="chart">

              <app-revenue-chart
                *ngSwitchCase="'revenue'"
                [range]="range"
                [refreshTick]="refreshTick"
              ></app-revenue-chart>

              <app-orders-chart
                *ngSwitchCase="'orders'"
                [range]="range"
                [refreshTick]="refreshTick"
              ></app-orders-chart>

              <app-top-selling-chart
                *ngSwitchCase="'topSelling'"
                [range]="range"
                [refreshTick]="refreshTick"
              ></app-top-selling-chart>

            </ng-container>

          </div>

        </div>

      </ng-container>

    </div>

  </div>

</div>
