.dashboard {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
  background: #f6f7f9;
  overflow: visible;
}

/* =========================
   CONTROLS
========================= */
.controls {
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.controls-date-today{
  gap: 12px;
  display: flex;
}

.field {
  display: flex;
  align-items: center;
  gap: 4px;
}

.field label {
  font-size: 12px;
  color: #666;
}

.controls input {
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.controls button {
  padding: 7px 14px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}

.controls button:hover {
  background: #eaeaea;
}

/* =========================
   WIDGETS
========================= */
.widgets-column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.widgets-column.cdk-drop-list-dragging .widget-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms ease;
}

/* =========================
   CHARTS GRID
========================= */
.charts-grid {
  display: flex;
  gap: 12px;
}

.charts-grid.cdk-drop-list-dragging .chart-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms ease;
}

/* =========================
   DRAGGABLE ITEMS
========================= */
.widget-wrapper,
.chart-wrapper
{
  cursor : default;
}

.cdk-drag-disabled {
  cursor: default !important;
}

.dashboard.edit-mode .chart-wrapper,
.dashboard.edit-mode .widgets-column {
  cursor: move;
  outline: 2px dashed #cfcfcf;
  outline-offset: 4px;
}

.dashboard.edit-mode .widget-wrapper {
  cursor: move;
}

.chart-wrapper {
  flex: 1;
  min-width: 0;
}

/* =========================
   DRAG PREVIEW
========================= */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  opacity: 0.95;
}

/* =========================
   PLACEHOLDER
========================= */
.cdk-drag-placeholder {
  opacity: 0.3;
}

/* =========================
   ANIMATION
========================= */
.cdk-drag-animating {
  transition: transform 250ms ease;
}

.edit-button{
  padding: 10px;
  color: white;
  background: green;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 1000px) {

  .charts-grid {
    grid-template-columns: 1fr;
  }

  .controls {
    flex-wrap: wrap;
  }
}
