
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  user-select: none;
  margin-bottom: 1rem;
}

/* Hide the actual radio buttons */
.button-group input[type="radio"] {
  display: none;
}

/* Style the labels as buttons */
.button-group label {
  background: #ffceff;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 1px 1px 1px rgb(223, 223, 223);
}

/* Hover */
.button-group label:hover {
  background: #f5bfff;
}

/* When the radio is checked, make the label darker */
.button-group input[type="radio"]:checked + label {
  background: #e584ff;
}
